conf = {
		"wan_if" : "eth0",
		"lan_if" : "br0",
		"wifi_ap_if" : "wlan0",
		"wired_lan_if" : "eth1",
		"lan_ip" : "192.168.1.1",
		"lan_netmask" : "255.255.255.0",

		"wifi_ap_ssid" : "my_ssid",
		"wifi_ap_passphrase" : "my_passphrase",

		"static_hosts" : [
			{
				"name" : "machine1",
				"mac" : "00:11:22:33:44:55",
				"ip" : "192.168.1.10",
				"port_forward" : [
					{ "port" : 1234, "type" : "tcp" }
				]
			},
			{
				"name" : "machine2",
				"mac" : "11:22:33:44:55:66",
				"ip" : "192.168.1.2"
			}
		],

		"dns" : [
			"8.8.4.4",
			"8.8.8.8",
			"2001:4860:4860::8844",
			"2001:4860:4860::8888"
		]
}

class Config:
	@staticmethod
	def get_config():
		return conf
